#search, #page {
	margin: 0 auto;
}
#search {
	width: 413px;
}
#page {
	padding-top: 30px;
	width: 840px;
	text-align: right;
}
#page > div > table {
	width: 840px;
}
button.play, button.download {
	border: none;
	margin: 5px 5px;
	height: 50px;
	width: 50px;
	text-indent: -999em;
}
button.download {
	background: url(buttons.png) no-repeat 0 0 transparent;
}
button.download:hover {
	background: url(buttons.png) no-repeat 0 -49px transparent;
}
button.play {
	background: url(buttons.png) no-repeat -50px 0 transparent;
}
button.play:hover {
	background: url(buttons.png) no-repeat -50px -50px transparent;
}


BODY, TABLE, TH, TR, TD, UL, OL, LI, P, A, BLOCKQUOTE, LABEL{
font-family: tahoma, verdana, arial, helvetica;
font-size: 10pt;

}

.yossiPageBODY{
font-family: tahoma, verdana, arial, helvetica;
font-size: 10pt;

}

.yossiFormTABLE{
background-color: #d5d8e7;
border-style: solid;
border-width: 1px;
border-color: #000000;

}

.yossiFormHeaderFont{
color: #000000;
font-size: 12pt;
font-weight: bold;

}

.yossiFieldCaptionTD{
border-bottom-width: 1px;
border-bottom-style: dotted;
border-bottom-color: #a7aedd;
background-color: #e0eecd;
color: #000000;
font-size: 10pt;
font-weight: bold;

}

.yossiAltDataTD{
border-bottom-width: 1px;
border-bottom-style: dotted;
border-bottom-color: #a7aedd;
background-color: #f7f7f7;
color: #000000;
font-size: 10pt;

}

.yossiColumnTD{
background-color: #90a460;
color: #ffffff;
font-size: 10pt;
font-weight: bold;

}

.yossiDataTD{
border-bottom-width: 1px;
border-bottom-style: dotted;
border-bottom-color: #a7aedd;
background-color: #f7f7f7;
color: #000000;
font-size: 10pt;

}

.yossiErrorDataTD{
border-bottom-width: 1px;
border-bottom-style: dotted;
border-bottom-color: #a7aedd;
background-color: #ffffff;
color: #ff0000;
font-size: 10pt;

}

.yossiSeparatorTD{
background-color: #90a460;
height: 1px;

}

.yossiFooterTD{
background: #90a460 url(grad2.png) repeat-x top;
color: #000000;
font-size: 10pt;
height: 32px;
text-align: center;

}

a.yossiSorterLink:link, a.yossiSorterLink:visited{
color: #ffffff;
font-size: 10pt;
text-decoration: underline;

}

a.yossiSorterLink:hover, a.yossiSorterLink:active{
color: #ffffff;
font-size: 10pt;
text-decoration: none;

}

a.yossiDataLink:link, a.yossiDataLink:visited{
color: #001580;
font-size: 10pt;
text-decoration: underline;

}

a.yossiDataLink:hover, a.yossiDataLink:active{
color: #001580;
font-size: 10pt;
text-decoration: none;

}

a.yossiNavigatorLink:link, a.yossiNavigatorLink:visited{
color: #ffffff;
font-weight: bold;
font-size: 10pt;
text-decoration: underline;

}

a.yossiNavigatorLink:hover, a.yossiNavigatorLink:active{
color: #ffffff;
font-weight: bold;
font-size: 10pt;
text-decoration: none;

}

.yossiButton{
background: #9cb071 url(grad1.png) repeat-x top;
border-width: 1px;
border-style: solid;
border-color: #445814;
font-size: 10pt;
font-family: tahoma, verdana, arial, helvetica;
font-weight: bold;
float: right;
margin-right: 7px;
cursor: pointer;
padding: 3px 10px;

}

.yossiInput{
border-width: 1px;
border-style: solid;
border-color: #000000;
font-size: 10pt;
font-family: tahoma, verdana, arial, helvetica;

}

.yossiTextarea{
border-width: 1px;
border-style: solid;
border-color: #000000;
font-size: 10pt;
font-family: tahoma, verdana, arial, helvetica;

}

.yossiSelect{
border-width: 1px;
border-style: solid;
border-color: #000000;
font-size: 10pt;
font-family: tahoma, verdana, arial, helvetica;

}

a.today:link, a.today:visited{
color: #ff0000;
font-weight: bold;
text-decoration: none;

}

a.today:hover, a.today:active{
color: #000000;
font-weight: bold;
text-decoration: none;

}

a.selectedDay:link, a.selectedDay:visited{
color: #ffffff;
font-weight: bold;
text-decoration: none;

}

a.selectedDay:hover, a.selectedDay:active{
color: #ff0000;
font-weight: bold;
text-decoration: none;

}

a.weekDay:link, a.weekDay:visited{
color: #001580;
text-decoration: none;

}

a.weekDay:hover, a.weekDay:active{
color: #ff0000;
text-decoration: none;

}

TD.selectedDay{
margin: 1px;
background-color: #5b69ae;
color: #000000;
font-size: 10pt;
font-weight: bold;

}

TD.today{
border-top-width: 1px;
border-top-style: solid;
border-top-color: #ff0000;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #ff0000;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #ff0000;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #ff0000;
background-color: #ffffff;
color: #000000;
font-size: 10pt;

}

TD.workday{
border-bottom-width: 1px;
border-bottom-style: dotted;
border-bottom-color: #a7aedd;
background-color: #f7f7f7;
color: #000000;
font-size: 10pt;

}

TD.weekend{
border-bottom-width: 1px;
border-bottom-style: dotted;
border-bottom-color: #a7aedd;
background-color: #d5d8e7;
color: #000000;
font-size: 10pt;

}

.calendar{
margin: 1px;
background-color: #5b69ae;
color: #000000;
font-size: 10pt;
font-weight: bold;

}

.CalendarButtons{
border-width: 1px;
border-style: solid;
border-color: #000000;
background-color: #a2acd2;
font-size: 10pt;
font-family: tahoma, verdana, arial, helvetica;
font-weight: bold;

}

.CalendarControls{
border-width: 1px;
border-style: solid;
border-color: #000000;
font-family: tahoma, verdana, arial, helvetica;
font-size: 10pt;

}

.Table{
background-color: #d5d8e7;
border-style: solid;
border-width: 1px;
border-color: #000000;

}

.yossiNavigatorStatic{
color: #000000;
font-size: 10pt;

}

.yossiRowHover .yossiAltDataTD{
background-color: #F4F7EF;

}

.yossiRowHover .yossiDataTD{
background-color: #F4F7EF;

}

.yossiRowSelected .yossiAltDataTD{
background-color: #ECF2E3;

}

.yossiRowSelected .yossiDataTD{
background-color: #ECF2E3;

}

.yossiFrame{

}

.yossiFrameLabel{
color: #000000;

}

.yossiInputError{
border-style: solid;
border-color: red;

}

.yossiTextareaError{
border-style: solid;
border-color: red;

}

.yossiSelectError{
border-style: solid;
border-color: red;

}